.modal-sidebar{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  overflow: scroll;
  background-color: rgb(252, 233, 205);
  cursor: initial;
}

.modal-sidebar__header{
  border-bottom: 1px solid black;
  width: 100%;
  height: 35px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  > span{
    font-weight: 600;
  }
}

.modal-sidebar__close{
  width: 20px;
  height: 20px;
  font-size: 1rem;
  position: absolute;
  left: 5px;
  border: none;
  background-color: transparent;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
  outline: none;
  
  &:focus{
    transform: translate(50%) rotate(360deg);
  }
}

.modal-sidebar__products{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px){
    .modal-sidebar{
      min-width: 520px;
      max-width: 520px;
    }
}