

.Header{
  height: 60px;
  margin: 0px 7px;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 10px -10px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: white;

  > img{
    width: 250px;
    filter: invert(58%) sepia(71%) saturate(1544%) hue-rotate(2deg) brightness(94%) contrast(88%);}
}

