*{
  list-style: none;
  text-align: center;
}

.Card-wrapper{
  max-width: 1200px;
  min-width: 300px;
  margin: 30px auto;
  margin-bottom: 0px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);   
  grid-template-rows: auto;   
  gap: 1em;
  justify-items: center;
  align-items: center;
}

.Card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.img-container{
  max-width: 120px;
  max-height: 120px;
  background-position: center;
  background-size: contain;
}

.img-container img{
  width: 100%;
  height: 100%;
} 

.Card button{
  margin-bottom: 0px;
  padding: 6px;
  border-radius: 5px;
  border: transparent;
  color: aliceblue;
  background-color: rgb(220, 141, 72);
}

.modal{
  position: fixed;
  background-color: rgba(205, 205, 205, 0.536);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s ease;
  transform: translateX(100%);
  z-index: 1; 
  display: flex;
  justify-content: center;
}

.modal--is-visible{
  transform: translateX(0);
}

.modal-overlay{
  max-width: 520px;
  width: 620px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.94);
}

.close-modal{
  margin-left: auto;
  margin-right: 10px;
  padding-top: 10px;
  color: rgb(164, 2, 2);
  border-bottom: 1px solid rgb(164, 2, 2);
  cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1024px) {
  html{
    font-size: 1.2rem;
  }

  .Card-wrapper{
    grid-template-columns: repeat(3, 1fr);   
  }
  
}

@media (min-width: 1024px){
  html{
    font-size: 1.3rem;
  }

  .Card-wrapper{
    grid-template-columns: repeat(4, 1fr);   
    gap: 2em;  
  }
}