.modal-prod{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-modal{
  max-width: 230px;
  max-height: 230px;
  background-position: center;
  background-size: cover;
}

.img-modal img{
  width: 100%;
  height: 100%;
}

.modal-prod h4{
  margin: 15px auto;
}

.modal-prod p{
  padding: 15px;
  text-align: start;
  display: -webkit-box;
  line-height: 1.7;
  -webkit-line-clamp: 4;
  min-height: 70px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-prod span{
  width: 100px;
}

.footer-modal{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}

.footer-modal .Cart{
  width: 120px;
  padding: 7px;
  border-radius: 4px;
  color: white;
  background-color: rgb(206, 82, 82);
}
