.centerSection{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-filter{
  display: flex;
  flex-direction: row;
}

.Card-wrapper{
  max-width: 1200px;
  min-width: 300px;
  margin: 30px auto;
  margin-bottom: 0px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);   
  grid-template-rows: auto;   
  gap: 1em;
  justify-items: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html{
    font-size: 1.2rem;
  }

  .Card-wrapper{
    grid-template-columns: repeat(3, 1fr);   
  }
  
}

@media (min-width: 1024px){
  html{
    font-size: 1.3rem;
  }

  .Card-wrapper{
    grid-template-columns: repeat(4, 1fr);   
    gap: 2em;  
  }
}

/* .SearchBar{
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Search{
  width: 250px;
  margin-top: 7px;
  padding: 5px;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0px 5px 7px -6px;
  background-color: rgb(239, 239, 239);
} */

/* .Category-list{
  width: 400px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category{
  border: 1px solid black;
  width: max-content;
  height: min-content;
  margin: auto 4px;
  padding: 3px 5px;
  border-radius: 3px;
  box-shadow: 0px 5px 10px -7px;
  cursor: pointer;
}

.category:hover{
  transform: scale(1.05);
  transition: .3s;
}

.category--is-hidden{
  color: white;
  background-color: rgb(227, 105, 39);
} */