.centerSection{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-filter{
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Card-wrapper{
  max-width: 430px; 
  margin: 30px auto;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
}

.Card-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.Card-wrapper::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 10px;
  visibility: hidden;
}
.Card-wrapper::-webkit-scrollbar-track {
  background: transparent;
}
.Card-wrapper:hover .Card-wrapper::-webkit-scrollbar-thumb {
  visibility: visible;
}



@media (min-width: 768px) and (max-width: 1024px) {
  html{
    font-size: 1.2rem;
  }

  .section-filter{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .Card-wrapper{
    max-width: 1200px;
    margin: 30px auto;
    margin-bottom: 0px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    grid-template-rows: auto;   
    gap: 1em;
    justify-items: center;
    align-items: center;
  }
  
}

@media (min-width: 1024px){
  html{
    font-size: 1.3rem;
  }

  .section-filter{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .Card-wrapper{
    max-width: 1200px;
    margin: 30px auto;
    margin-bottom: 0px;
    padding: 0;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);   
    grid-template-rows: auto;   
    gap: 2em;  
    justify-items: center;
    align-items: center;
  }
}


// @mixin mobile{
//   @media (min-width: 576px) {
//     @content;
//   }
// }

// @mixin tablet{
//   @media (min-width: 768px) {
//     @content;
//   }
// }

// @mixin desktop{
//   @media (min-width: 992px){
//     @content;
//   }
// }

// @mixin wide{
//   @media (min-width: 1200px){
//     @content;
//   }
// }